<div class="form-group">
  <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="searchTerm" />
</div>
<!-- <div class="form-group">
  <button (click)="changeEmployeeName()" class="btn btn-primary">
    Change Employee Name
  </button>
</div> -->
<div *ngFor="let employee of filteredEmployees">
  <app-display-employee [employee]="employee"[searchTerm]="searchTerm"></app-display-employee>
</div>
<!-- <button  class="btn btn-primary">
    View Next Employee
</button>
<br /><br />
<app-display-employee [employee]="employeeToDispay"></app-display-employee> -->